<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include ('./partials/header.ejs') %>
        <%- include ('./partials/menu.ejs') %>
        <title>New Product</title>
    </head>
</head>
<body>
    <main>
    <h1 class = 'headerText'>Edit Product</h1>
    <div class = 'newContainer'>
        <form action = "/product/<%= product.id %>?_method=PUT" method = "POST">
            <label class = 'label'>Product Name:</label><br>
            <input type = 'text'  name = "name" class = 'inputBox' value="<%= product.name %>"><br>
            <label class = 'label'>Product Description:</label><br>
            <textarea name = "description" class = 'inputBox textBox' value="<%= product.description %>"></textarea><br>
            <label class = 'label'>Price:</label><br>
            <input type = 'text'  name="price" class = 'inputBox' value="<%= product.price %>"><br>
            <label class = 'label'>Image Url:</label><br>
            <input type = 'text'  name="image" class = 'inputBox' value="<%= product.image %>"><br>
            <label class = 'label'>Product Quantity:</label><br>
            <input type = 'text'  name = "quantity" class = 'inputBox' value="<%= product.quantity %>"><br>
            <input type = 'submit' name = 'Submit'>
        </form>
    </div>
    <div>
        <button class = 'backButton'>
            <a href='/product' >Back</a>
        </button>
    </div>
    </main>
        <%- include ('./partials/footer.ejs') %>
</body>
</html>