<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/menu.ejs') %>
    <title>Home</title>
</head>
<body>
    <div class = 'container'>
    <h1 class = 'headerText'>Home</h1>

    <div class = 'item'>
        <% for (let i = 0; i < product.length; i++) { %>
    <div class = 'itemPlus'>
        <p>
            Name:
            <a href = '/product/<%= product[i].id %>'>
                <%= product[i].name %>
            </a>
        <p>
            Price: $<%= product[i].price %>
        </p>
        <p>
            Quantity: <%= product[i].quantity %>
        </p>
        <div class="box">
            <img class = 'inImage' src = "<%= product[i].image %>"/><br>
        </div>
        <form action = '/product/<%= product[i].id %>?_method=DELETE' method='POST'>
            <input type = 'submit' value = "Delete"/> 
        </form>
        <form action = '/product/update/<%= product[i].id %>?_method=PUT' method="POST">
            <input type = 'submit' value = "BUY">
        </form>
    </div>
        <% } %>
    </div>
    <footer>
        <a href = "/product/new" class = 'createButton'>Create New Product</a>
    </footer>
</div>
</body>
</html>

