<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/menu.ejs') %>

    <title>Product</title>
</head>
<body>
    <%- include ('./partials/head.ejs') %>
    <main>
    <h1 class = 'headerText'>Product Page</h1>
    <div class = 'showContainer'>
        <div class="box">
            <img class = 'showImage' src = "<%= product.image %>"/>
        </div><br>
    <div class = 'showTextContainer'>
        <p class = 'showText productName'></p>
        
        Name: <%= product.name %>
        
        </p><br>
        <p class = 'showText'></p>
        
        Price: <%= product.price %>
        
        </p><br>
        <p class = 'showText'></p>
        
        Quantity: <%= product.quantity %>
        
        </p><br>
        <p class = 'showText'></p>
        
        Description: <%= product.description %>
        
        </p><br>
    <div class = 'allShowButtons'>
        <button>
            <a class = 'showButtons' href = '/product/<%= product.id %>/edit'>Edit</a>
        </button>
        <form  action = '/product/<%= product.id %>?_method=DELETE' method='POST'>
            <input class = 'showButtons' type = 'submit' value = "Delete"/> 
        </form>
        <form action = '/product/update/<%= product.id %>?_method=PUT' method="POST">
            <input class = 'showButtons' type = 'submit' value = "BUY">
        </form>
    </div>
    </div>
    </div>
    <button class = 'backButton'>
        <a href='/product' >Back</a>
    </button>
</main>
</body>
<footer>
    <%- include ('./partials/footer.ejs') %>
</footer>
</html>